ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343a40;
  height: 75px;
  text-align: center;
  font-size: 20px;
}

.navbar-brand {
  margin-left: 1%;
  font-weight: bold;
  font-family: "Lucida Console", Courier, monospace;
}

.rightsided{
  display: flex
}
