<div class="container-fluid" style=" height: 100%;
  margin-top: 25%;" >
  <div class="login card">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
      <div class="row" x132863171833-x-test-tpl-1>
        <div class="col" x132863171833-x-test-hook-2>
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" x132863171833-x-test-hook-3>
            <div *ngIf="fail1" class="alert alert-danger" role="alert" x132863171833-x-test-hook-4> Wrong Email or
              Password
            </div>
            <div *ngIf="fail2" class="alert alert-danger" role="alert" x132863171833-x-test-hook-5>Server has a problem
            </div>
            <div *ngIf="fail3" class="alert alert-danger" role="alert" x132863171833-x-test-hook-6>Email already
              registered
            </div>
            <div *ngIf="fail4" class="alert alert-danger" role="alert" x132863171833-x-test-hook-7>Password must contain:
              <ul x132863171833-x-test-hook-8>
                <li x132863171833-x-test-hook-9> A number</li>
                <li x132863171833-x-test-hook-10>
                  Atleast 6 characters
                </li>
                <li x132863171833-x-test-hook-11>
                  Atleast one uppercase char
                </li>
              </ul>
            </div>

            <div *ngIf="authForm.dirty && authForm.invalid" style="color: red" x132863171833-x-test-hook-12>Email o
              password invalida
            </div>

            <div class="form-group" x132863171833-x-test-hook-13>
              <label for="email" x132863171833-x-test-hook-14>E-Mail</label>
              <input
                type="email"
                id="email"
                class="form-control"
                ngModel
                name="email"
                required
                email
                x132863171833-x-test-hook-15/>
            </div>

            <div class="form-group" x132863171833-x-test-hook-16>
              <label for="passwordInput" x132863171833-x-test-hook-17>Password</label>
              <input
                type="password"
                id="passwordInput"
                class="form-control"
                ngModel
                name="password"
                required
                minlength="6"
                x132863171833-x-test-hook-18/>
            </div>
            <div x132863171833-x-test-hook-19>
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!authForm.valid"
                x132863171833-x-test-hook-20>
                {{ isLoginMode ? 'Login' : 'Sign Up' }}
              </button>
              |
              <button class="btn btn-primary" (click)="onSwitchMode()" type="button" x132863171833-x-test-hook-21>
                Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
