<ul x132880204046-x-test-tpl-1>
  <div class="card" x132880204046-x-test-hook-2>
    <div *ngIf="success" class="alert alert-success" role="alert" x132880204046-x-test-hook-3> Ordine rimosso
      correttamente
    </div>
    <li *ngFor="let item of orders" class="list-group-item d-flex justify-content-between align-items-center"
        x132880204046-x-test-hook-4 (click)="showDetails(item)">
      <div class="card-header" x132880204046-x-test-hook-5><img src="{{item.img}}" width="150" height="250"
                                                                class="img-thumbnail" x132880204046-x-test-hook-6></div>
      <div class="card-body" x132880204046-x-test-hook-7><h5 class="card-title"
                                                             x132880204046-x-test-hook-8>{{item.title}}</h5>
        <p class="card-text" x132880204046-x-test-hook-9>Purchased quantity : {{item.quantity}}</p>
        <p class="card-text" x132880204046-x-test-hook-10>Date of purchase : {{item.date}}</p>
        <button class="btn btn-primary" x132880204046-x-test-hook-15>
          More info
        </button>
      </div>
    </li>
  </div>
</ul>
