<ul>
  <div class="card">
    <div *ngIf="success" class="alert alert-success" role="alert">
      Ordine rimosso correttamente
    </div>
    <li *ngFor="let item of orders" class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div class="card-header"><img src="{{item.img}}" width="150" height="250"
                                    class="img-thumbnail"></div>
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">Purchased quantity : {{item.quantity}}</p>
        <p class="card-text">Date of purchase : {{item.date}}</p>
        <p style="color: green" *ngIf="item.shipped" class="card-text">Order shipped! <img
          src="https://img.icons8.com/material-outlined/24/000000/shipped.png"/></p>
        <p style="color: red" *ngIf="!item.shipped" class="card-text">Order not yet shipped :( <img
          src="https://img.icons8.com/material-rounded/24/000000/order-history.png"/></p>
        <button *ngIf="!item.shipped" class="btn btn-primary" (click)="deleteOrder(item)">Delete order</button>
      </div>
    </li>
  </div>
</ul>
